<p>Hey !! You have succesfully bought a product from our website !! Happy shopping !!</p>
<br>
<p>Happy pranking, you are neither getting your product nor your money back....</p>
<%= image_tag("mailer.webp", :class => "") %>