<section class="sandwich">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<p>click <%= link_to "Here", password_reset_url(@user.id) %> to reset your link</p>
			</div>
		</div>
	</div>
</section>