<section class="container sandwich">
	<div class="form-base-styling">
		<%= render 'form', user: @user %>
		<%= link_to 'Back', login_path, :class => "label-style" %>
		<div class="alert">
			<%= flash[:notice] %>
		</div>
	</div>
</section>