/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .container-fluid{
 	padding: 0px!important;
 }

 .overall-alteration {
 	margin: 0px;
 }
 .fonty{
 	font-size: 18px;
 	padding-left: 10px;
 	color: #666!important;
 }
 .fonty:hover{
 	text-decoration: none;
 	background-color: green;
 	color: white!important;
 }

 .nav-stling{
 	background-color: #f7f7f7;
 	height: 60px;
 	border-bottom: 3px solid green;
 }

 .extra-effect{
 	background-color: green;
 	color: white!important;
 	border-radius: 5px;
 }

 .show{
 	z-index: 99;
 	background-color: #feffff;
 	border: 1px solid #ccc;
 }

 .extra-padding{
 	padding: 15px;
 	margin: 15px 0px;
 }

 a:hover{
 	text-decoration: none!important;
 }
 .width-alt{
 	min-width: 284px!important;
 	margin-right: 8px; 
 	padding-left: 0px;
 	padding-right: 0px;
 	color: #666;
 }

 .width-alt:hover{
 	color: #111;
 }

 .search-styling{
 	background-color: green;
 	text-align: center;
 }

 body{
 	margin: 0px;
 	padding: 0px;
 }

 .sandwich{
 	padding: 15px 0px; 
 }

 section{
 	margin: 0px;
 	padding: 0px;
 }

 .container-fluid{
 	padding: 0px;
 }

 .table-styling{
 	padding: 50px 0px;
 	text-align: center;
 }

 .content-styling{
 	margin-left: auto;
 	margin-right: auto;
 }

 .soldrow-styling{
 	border: 1px solid #dcdcdc;
 	padding: 25px;
 	border-radius: 10px;
 	margin: 30px 0px;
 }

 .soldrow-styling2{
 	padding: 25px;
 	border-bottom: .5px solid #eee;
 	margin: 30px 0px;
 }

 .form-base-styling{
 	padding: 25px;
 	margin: 30px 0px;
 	background-color: #f7f7f7;
 	border-radius: 10px;
 }

 input{
 	height: 27px;
 	/*font-size: 18px;*/
 }

 .label-style{
 	font-size: 18px;
 }

 .btn-st{
 	text-align: center;
 	padding: 15px;
 	background-color: green;
 	color: white;
 	font-size: 25px;
 }

 .btn-st:hover{
 	background-color: green;
 	color: white;
 }

 nav li span{
 	background-color: #008000c4!important;
 	border-color: #008000c4!important;
 }

 nav{
 	align-items: center;
 }

 .disabled{
 	display: none!important;
 }

 .img-styling{
 	height: 150px;
 	width: 150px;
 }

 .img-styling-2{
 	height: 300px;
 	width: 300px;
 }

 .img-styling-3{
 	height: 80px;
 	width: 80px;
 }

 .img-st-dim{
 	text-align: center;
 }

 .redit{
 	color: red;
 	margin-left:50px;
 }

 .size-inc{
 	font-size: 17px;
 }

 .size-inc2{
 	font-size: 15px;
 }

 .button-style{
 	padding: 3px 50px;
 	margin: 8px ;
 	border: 1px solid #949494;
 	border-radius: 2px;
 	background-color: #e5e5e585;
 }

 .button-style:hover{
 	background-color: green;
 	color: white;
 	cursor: pointer;
 }

 .rat-st{
 	max-width: 40px;
 	height: 25px;
 }

 .rat-st2{
 	font-size: 2.40rem;
 }

 .display-inline{
 	display: flex;
 	align-items: center;
 }
 .display-inline2{
 	display: flex;
 	justify-content: space-between;
 }
 .display-inline3{
 	display: flex;
 }

 .star-img{
 	width: 20px;
 	height: 20px;
 }

 .cmt-styling{
 	background-color: #e5e5e585;
 	padding: 18px;
 	margin: 20px 0px;
 }

 .fancy-box{
 	width: 20px;
 	height: 20px;
 }

 .opacity-change{
 	opacity: .4;
 }

 .index-just{
 	justify-content: flex-start;
 }

 .alert-red{
 	color: red;
 }

 .alert-green{
 	color: green;
 	background: #00800045
 }

 .cart-st{
 	width: 25px;
 	height: 25px;
 	margin-left: 10px;
 	margin-right: 10px;
 }

 .green-alert{
 	color: green;
 	margin-left: 20px;
 }

 .left-margin{
 	/*margin-left: 10px;*/
 	height: 25px;
 }

 .buyall-button{
 	width: 100%;
 	/*height: 50px;*/
 	padding: 10px 0px;
 	text-align: center;
 	/*margin-top: 30px;*/
 	/*margin-bottom: 30px;*/
 	margin: 20px auto;
 }

 .quantity-st{
 	width:100px;
 }
 .marg-top{
 	margin-top: 10px;
 }

 .coupon-input{
 	border: none;
    border-bottom: 2px solid green;
    width: 100%;
    height: 40px;
    outline: 0px;
    font-size: 15px;
 }

 .coupon-input:focus{
 	background: #00800045 ;
 }

 .coupon-form{
 	margin: 20px 0px;
 }

 /*.like-container{
 	margin: 0px 200px;
 }*/
