/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .overall-alteration {
 	margin: 0px;
 }
 .fonty{
 	font-size: 18px;
 	margin-left: 4px;
 	margin-right: 4px;
 	padding: 4px;
 	color: #666;
 }
 .fonty:hover{
 	text-decoration: none;
 	background-color: green;
 	color: white;
 }

 .nav-stling{
 	background-color: #f7f7f7;
 	height: 60px;
 	border-bottom: 3px solid green;
 }

 .extra-effect{
 	background-color: green;
 	color: white;
 	border-radius: 5px;
 }

 .extra-padding{
 	padding: 15px;
 	margin: 15px 0px;
 }

 a:hover{
 	text-decoration: none;
 }
 .width-alt{
 	min-width: 285px!important;
 	color: #666;
 }

 .width-alt:hover{
 	color: #111;
 }

 .search-styling{
 	background-color: green;
 	text-align: center;
 }

 body{
 	margin: 0px;
 	padding: 0px;
 }

 .sandwich{
 	padding: 15px 0px; 
 }

 section{
 	margin: 0px;
 	padding: 0px;
 }

 .container-fluid{
 	padding: 0px;
 }

 .table-styling{
 	padding: 50px 0px;
 	text-align: center;
 }

 .content-styling{
 	margin-left: auto;
 	margin-right: auto;
 }

 .soldrow-styling{
 	border: 1px solid #dcdcdc;
 	padding: 25px;
 	border-radius: 10px;
 	margin: 30px 0px;
 }

 .form-base-styling{
 	padding: 25px;
 	margin: 30px 0px;
 	background-color: #f7f7f7;
 	border-radius: 10px;
 }

 input{
 	height: 27px;
 	/*font-size: 18px;*/
 }

 .label-style{
 	font-size: 18px;
 }

 .btn-st{
 	text-align: center;
 	padding: 15px;
 	margin-top: 30px;
 	background-color: green;
 	color: white;
 }

 .btn-st:hover{
 	background-color: green;
 	color: white;
 }

 nav li span{
 	background-color: #008000c4!important;
 	border-color: #008000c4!important;
 }

 .disabled{
 	display: none!important;
 }

 .img-styling{
 	height: 150px;
 	width: 150px;
 }

 .img-styling-2{
 	height: 300px;
 	width: 300px;
 }

 .img-styling-3{
 	height: 80px;
 	width: 80px;
 }

 .img-st-dim{
 	text-align: center;
 }

 .redit{
 	color: red;
 	margin-left:50px;
 }